{
    "name": "dillonsmart/tetherphp",
    "type": "project",
    "description": "TetherPHP is a PHP framework which ships as a skeleton application.",
    "license": "MIT",
    "repositories": [
        {
            "type": "path",
            "url": "../tetherphp-core",
            "options": {
                "symlink": true
            }
        }
    ],
    "require": {
        "php": "^8.5",
        "dillonsmart/tetherphp-core": "*"
    },
    "autoload": {
        "psr-4": {
            "Actions\\": "app/Actions/",
            "Commands\\": "app/Commands/",
            "Responders\\": "app/Responders/",
            "Domains\\": "app/Domains/",
            "Views\\": "app/Views/"
        }
    },
    "minimum-stability": "dev",
    "prefer-stable": true
}
